<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ mode === 'cardtonumber' ? "Card To Number" : "Number To Card" }}
    </ion-title>

    <ion-segment value="numbertocard" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="numbertocard">
        <ion-label># to Card</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cardtonumber">
        <ion-label>Card to #</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" (click)="setRangeFromRangeButtons(1, 13)">1 - 13</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" (click)="setRangeFromRangeButtons(14, 26)">14 - 26</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" (click)="setRangeFromRangeButtons(26, 39)">26 - 39</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline"(click)="setRangeFromRangeButtons(39, 52)">39 - 52</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-range [dualKnobs]="true" [pin]="true" [ticks]="true" [snaps]="true" [min]="min" [max]="max" [value]="{ lower: 1, upper: 52 }">
      <ion-label slot="start"></ion-label>
      <ion-label slot="end"></ion-label>
    </ion-range>
  </ion-item>

  <ion-modal [isOpen]="isGameFinished">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Results</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="restartGameAfterClosingModel(true)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item color="success">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>You got {{correct.length}} correct</ion-label>
        </ion-item>

        <ion-item color="danger">
          <ion-icon name="close-outline"></ion-icon>
          <ion-label>You got {{wrong.length}} incorrect</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-card *ngIf="currentQuestion" color="light" disabled={{isDisabled}}>
    <ion-card-header color="{{cardHeaderColor}}">
      <ion-item color="light">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>{{correct.length}}</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-icon name="close-outline"></ion-icon>
        <ion-label>{{wrong.length}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="card-position">
      {{currentQuestion['answer']?.position}}
    </ion-card-content>
    <div class="button-group">
      <ion-button class="answer-button" size="large" fill="outline"
      *ngFor="let answer of currentQuestion['answers']" 
      (click)="checkAnswer(answer)"
      color="dark">
        {{ answer.value + answer.suit }}
      </ion-button>
    </div>
  </ion-card>
  <ion-progress-bar value="0.5"></ion-progress-bar>
</ion-content>
