<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ mode === 'cardtonumber' ? "Card To Number" : "Number To Card" }}
    </ion-title>

    <ion-segment value="numbertocard" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="numbertocard">
        <ion-label># to Card</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cardtonumber">
        <ion-label>Card to #</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" (click)="createNewGame(0, 13)">1 - 13</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" (click)="createNewGame(13, 26)">14 - 26</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" (click)="createNewGame(26, 39)">27 - 40</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline"(click)="createNewGame(39, 53)">40 - 52</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline"(click)="createNewGame(0, 53)">Full Stack</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="game?.isDone">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Results</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="reset()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item-group>
          <ion-item-divider>
            <ion-label color="success">Correct: {{ game.correctAnswers.length }}</ion-label>
          </ion-item-divider>
        
          <ion-item *ngFor="let c of game.correctAnswers">
            <ion-label>{{c.position}} - {{c.value}}{{c.suit}}</ion-label>
          </ion-item>
        </ion-item-group>
        
        <ion-item-group>
          <ion-item-divider>
            <ion-label color="danger">Incorrect: {{ game.incorrectAnswers.length }}</ion-label>
          </ion-item-divider>
        
          <ion-item *ngFor="let c of game.incorrectAnswers">
            <ion-label>{{c.position}} - {{c.value}}{{c.suit}}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-card *ngIf="game" color="light" disabled={{isCardDisabled}}>
    <ion-card-header color="{{cardHeaderColor}}">
    </ion-card-header>
    <ion-card-content class="card-position">
      {{ mode === 'numbertocard' ? game.currentQuestion?.answer.position : game.currentQuestion?.answer.value+game.currentQuestion?.answer.suit }}
    </ion-card-content>
    <div class="button-group">
      <ion-button class="answer-button" size="large" fill="outline"
      *ngFor="let answer of game.currentQuestion?.answers" 
      (click)="game.checkAnswer(answer)"
      color="dark"> 
        {{ mode === 'numbertocard' ? answer.value + answer.suit : answer.position }}
      </ion-button>
    </div>
  </ion-card>
</ion-content>
